[Desktop Entry]
Name=Alif Studio
Comment=The Alif Arabic Programming Language IDE
GenericName=Alif Studio
Exec=/app/bin/alifstudio
Type=Application
Categories=TextEditor;Development;IDE;
Terminal=false
Encoding=UTF-8
StartupNotify=true
MimeType=text/x-alif;text/x-alifui;text/x-aliflib;text/x-alifuiw;
